<h1 class="font-weight-bold">Orders</h1>
<div class="row col-10" *ngIf="orders$ | async as orders">
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Date</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.shipping.name }}</td>
                <td>{{ order.datePlaced }}</td>
                <td><a href="#">View</a></td>
            </tr>
        </tbody>
    </table>
</div>